.title {
    background-color: mediumspringgreen;
    border: dotted darkgreen;
    text-align: center;
    display:flex;
    color: slategray;
    justify-content: space-between;
    padding-bottom: 30px;
}
.header{
    display:flex;
    justify-content: space-evenly;
    border: double orange;
    background-color: yellow;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}
.origami{
    border-radius: 100px;
    border:solid purple;
    width: 330px;
    padding:50px;
    margin:50px;
    
}
.grid img{
    border: 4px;
    border-radius: 60px;
}
body{
margin:0px;
background-color: #00FFEF;
}
a{
    text-decoration:none;
}
a:link{
    color: rgb(73, 3, 153)
}
a:visited{
    color: rgb(94, 2, 199)
}
.origami:hover{
    transform:scale(1.2);
}